.input-container {
  label {
    font-weight: 700;
    font-size: 15px;
  }

  .input {
    display: flex;
    align-items: center;
    padding: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin-top: 0.6rem;

    &.has-error {
      border: 1px solid tomato;
    }

    input {
      border: none;
      width: 100%;
      font-size: 18px;
    }
  }

  .error-message {
    padding-top: 0.5rem;
    color: tomato;
    font-size: 12px;
  }
}
