<app-dragon-edit-modal
  [visible]="editModal"
  [dragon]="currentEditDragon"
  (modalClosed)="handleEditModalClosed()"
></app-dragon-edit-modal>

<div class="list-wrapper">
  <div class="new-dragon-button">
    <app-button text="Novo dragão" (clicked)="showDragonModal()"></app-button>
  </div>
  <div class="list-container">
    <app-loading [isLoading]="loading"></app-loading>
    <div class="error-message">
      <app-empty-state
        *ngIf="getEmptyState(); let emptyState"
        [visible]="!!emptyState"
        path="assets/lotties/dragon-fly.json"
        [title]="emptyState.title"
        [description]="emptyState.description"
        [buttonText]="emptyState.buttonText"
        (buttonClicked)="emptyState.buttonCallback()"
        [size]="350"
      ></app-empty-state>
    </div>
    <div
      class="list-header"
      *ngIf="!loading && dragons.length && !errorMessage"
    >
      <div class="image"></div>
      <div class="name">Nome</div>
      <div class="type">Tipo</div>
      <div class="date">Criado em</div>
      <div class="actions"></div>
    </div>

    <ng-container *ngIf="!loading && !errorMessage">
      <app-dragon-list-item
        *ngFor="let dragon of dragons"
        (editDragon)="showDragonModal($event)"
        [dragon]="dragon"
      ></app-dragon-list-item>
    </ng-container>
  </div>
</div>
