@import "../../style/variables.scss";

.button {
  border: none;
  padding: 0.7rem 1.7rem;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  transition: 200ms;
  cursor: pointer;
  font-size: 17px;

  &.danger {
    background-color: $red_danger;

    &:hover {
      background-color: $red_danger_hover;
    }
  }

  &.primary {
    background-color: $primary_color;
    &:hover {
      background-color: $primary_color_hover;
    }
  }

  &.disabled {
    opacity: 0.5;
  }
}
