@import "../../../../style/variables.scss";

.dragons-header {
  background-color: $primary_color;
  height: 75px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 22px;
  }
}


.logout {
  cursor: pointer;
  display: flex;
  align-items: center;

  span {
    padding-right: .5rem;
  }
}

@media (max-width: 640px) {
  .content {
    padding: 2rem 1rem;
  }

  .dragons-header {
    padding: 0 1rem;
  }
}

@media (min-width: 641px) {
  .content {
    padding: 2rem 2rem;
  }

  .dragons-header {
    padding: 0 2rem;
  }
}

@media (min-width: 1200px) {
  .content {
    padding: 2rem 8rem;
  }

  .dragons-header {
    padding: 0 8rem;
  }
}

